  
  :root {
    --light-green: #8aea92ff;
    --green-sheen: #80ada0ff;
    --old-lavender: #5f5566ff;
    --dark-purple: #33202aff;
    --black: #000000ff;
  }

  .dropdown-menu {
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li {
    cursor: pointer;
  }
  
  .dropdown-link:hover {
    color: var(--light-green);
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--black);
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    /* .fa-caret-down {
      display: none;
    } */
    .dropdown-menu{
      width: 100%;
      position:absolute;
      top:170px;
      list-style: none;
      text-align: center;
  }
  }